.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #252f70;
  padding: 10px 20px;
  color: white;
  font-family: Arial, sans-serif;

  &__logo img {
    height: 40px;
  }

  &__left {
    display: flex;
    align-items: center;
  }

  &__menu {
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 0;
    margin: 0;

    &__item {
      cursor: pointer;
      position: relative;
      font-weight: bold;
      font-size: 14px;

      span {
        font-size: 12px;
        margin-left: 5px;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

  /* Style cho dropdown */
  .dropdown {
    position: absolute;
    top: 140%;
    right: 0;
    background: white;
    color: black;
    list-style: none;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    min-width: 150px;

    li {
      padding: 8px 12px;
      cursor: pointer;

      &:hover {
        background: #f1f1f1;
      }
    }
  }

  &__search {
    input {
      margin-left: 20px;
      padding: 8px 15px;
      border: 1px solid #ccc;
      border-radius: 20px;
      outline: none;
      width: 200px;
    }
  }
}
